In [16]:
# importing required library
import pandas as pd

#loading and reading the dataset into the pandas dataframe
wk_data = pd.read_csv(r"C:\Users\HP\Documents\Hamoye_Intern\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

# printing a few rows to confirm successful import and reading of the dataset
print(wk_data.head())

   Area Code     Area  Item Code         Item  Element Code  \
0          4  Algeria       2501   Population           511
1          4  Algeria       2501   Population          5301
2          4  Algeria       2901  Grand Total           664
3          4  Algeria       2901  Grand Total           674
4          4  Algeria       2901  Grand Total           684

                                  Element             Unit     Y2014  \
0           Total Population - Both sexes     1000 persons  38924.00
1                Domestic supply quantity      1000 tonnes      0.00
2           Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3  Protein supply quantity (g/capita/day)     g/capita/day     94.90
4      Fat supply quantity (g/capita/day)     g/capita/day     80.06

      Y2015     Y2016     Y2017     Y2018
0  39728.00  40551.00  41389.00  42228.00
1      0.00      0.00      0.00      0.00
2   3379.00   3372.00   3341.00   3322.00
3     94.35     94.72     92.82     91.83
4     79.36     77.40     80.19     77.28

In [21]:
# solving the first question from the quiz by first filtering the dataframe for the year 2017
data_2017 = wk_data[['Y2017']]

# calculating the mean and standared deviation for the entire dataset for the year 2017
mean_2017 = data_2017.mean().round(2)
std_2017 = data_2017.std().round(2)

# printing the values for mean and std of 2017
print("Mean for 2017 is: ", mean_2017)
print("Standard Deviation for 2017 is: ", std_2017)

Mean for 2017 is:  Y2017    140.92
dtype: float64
Standard Deviation for 2017 is:  Y2017    1671.86
dtype: float64

In [22]:
# calculating the seventh lowest sum in 2017 grouping Area and Y2017

# selecting the columns Area and Y2017
selected_data = wk_data[['Y2017', 'Area']]

# grouping by Area and summing the values for 2017
grouped_data = selected_data.groupby('Area').sum()

# sorting the dataframe by the sum of Y2017 in ascending order
sorted_data = grouped_data.sort_values(by='Y2017')

# extracting the 7th row which has the lowest sum
seventh_lowest = sorted_data.iloc[6]

# printing the result
print("Area with the 7th lowest sum in 2017 is: ", seventh_lowest.name)
print("Sum in 2017 is: ", seventh_lowest['Y2017'])

Area with the 7th lowest sum in 2017 is:  Guinea-Bissau
Sum in 2017 is:  19102.77

In [19]:
# finding the area with the highest sum in 2017

# selecting the columns Area and Y2017
selctd_data = wk_data[['Y2017', 'Area']]

# grouping by Area and summing the values for Y2017
grp_data = selctd_data.groupby('Area').sum()

# finding the area with the highest sum in 2017
area_with_highest_sum = grp_data['Y2017'].idxmax()

# printing the result
print("Area with the highest sum in 2017 is: ", area_with_highest_sum)

Area with the highest sum in 2017 is:  Nigeria

In [23]:
# finding the least correlation with 'Element Code' with each year

# selecting the columns Element code and all years
selected_col = wk_data[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]

# calculating the correlation between Element code and all the years
correlation = selected_col.corr()['Element Code'].dropna()

# finding the min corr
min_corr_yr = correlation.idxmin()

# printing the result
print("Year with the least correlation with Element Code is: ", min_corr_yr)

Year with the least correlation with Element Code is:  Y2016

In [24]:
# calculating the total number and percentage of missing data in 2014 to 3 decimal places

# selecting the Y2014 column
data_2014 = wk_data['Y2014']

# counting the number of missing values in Y2014 column
missing_values = data_2014.isnull().sum()

# calculating the total number of data points in 2014
total_value = len(data_2014)

# calculating percentage of missing values in 2014
percentage_missing = (missing_values / total_value) * 100

# printing the results to 3 decimal places
print("Total number of missing data points in 2014 is: ", missing_values)
print("Percentage of missing data in 2014 is: ", "{:.3f}%".format(percentage_missing))

Total number of missing data points in 2014 is:  1589
Percentage of missing data in 2014 is:  2.607%

In [33]:
# Find the highest stock variation on Element column

grp_element = wk_data.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

# Finding the year with the highest sum of stock variation
highest_stck_var_yr = grp_element.sum(axis=0).idxmax()

# printing the result
print("The year with the highest stock variation is: ", highest_stck_var_yr)

The year with the highest stock variation is:  Y2018

In [34]:
# Finding protein supply in Madagascar in 2015

madagascar_data_2015 = wk_data[(wk_data['Area'] == 'Madagascar') & (wk_data['Element'] == 'Protein supply quantity (g/capita/day)')]

# sum protein supply qty col
total_protein_supply_mad2015 = madagascar_data_2015['Y2015'].iloc[0]

# printing the result
print("Total protein supply qty in Madagascar in 2015 is: ", total_protein_supply_mad2015)

Total protein supply qty in Madagascar in 2015 is:  43.26

In [35]:
# finding the total number of unique countries

# counting the number of unique countries in the Area column
unique_countries = wk_data['Area'].nunique()

# printing the result
print("Total number of unique countries are: ", unique_countries)

Total number of unique countries are:  49